key "{{ zone_name }}." {
  algorithm hmac-md5;
  secret "{{ zone_secret }}";
};

zone "{{ zone_name }}" {
        type master;
        file "/var/lib/named/{{ zone_name }}.db";
        allow-update { key "{{ zone_name }}."; };
};
